{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}게시판-본문보기{% endblock %}

{% block style %}
<style>
    .vhead { background: #dff0d8 !important;}
    .vhead2 { background: #ffffcc !important;}
    .bdbg { background: #ccff99 !important;}

    .cmtbg { background: yellow; padding: 5px 0; }
    .rplybg { background: lime; padding: 5px 0; }
</style>
{% endblock %}

{% block content %}
     <div id="main">
        <div>
            <div class="d-flex justify-content-between">
                <h2><i class="bi bi-chat-text-fill"></i> 자유게시판</h2>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-5">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-chevron-left"></i> 이전게시물</button>
                <button type="button" class="btn btn-light">
                    <i class="bi bi-chevron-right"></i> 다음게시물</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-plus-circle-fill"></i> 새글쓰기</button>
            </div>
            <div class="col"></div>
        </div> <!-- // 이전/다음, 새글쓰기 버튼 -->

        <div class="row mt-3">
            <div class="col"></div>
            <div class="col-10">
                <table class="table">
                    <tbody>
                    <tr><td colspan="2" class="vhead p-5">
                        <h3>{{ bd.title  }}</h3>
                    </td></tr><!-- 제목 -->

                    <tr class="bdbg fw-bold">
                        <td class="col-5 text-start ps-3 text-black-50">{{ bd.member.userid }}</td>
                        <td class="text-end text-black-50 pe-3 ">{{ bd.regdate|date:'Y-m-d H:i:s' }}
                                              / {{ bd.thumbup }} / {{ bd.views }}</td>
                    </tr><!-- 작성자, 작성일, 조회수 -->

                    <tr>
                        <td colspan="2" class="vhead2" style="height: 550px">
                            {{ bd.contents }}
                        </td>
                    </tr><!-- 본문 -->
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div><!-- 본문 -->

        <div class="row mt-1">
            <div class="col"></div>
            <div class="col-5">
                <button type="button"
                        class="btn btn-warning text-white">
                    <i class="bi bi-pencil-square"></i> 수정하기</button>
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-trash"></i> 삭제하기</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-list"></i> 목록보기</button>
            </div>
            <div class="col"></div>
        </div> <!-- 버튼들 -->

        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <h3 class="mb-3 mt-4"><i class="bi bi-chat-quote-fill"></i>
                    나도 한마디</h3>

                <table class="table rhead">

                    {% for c in cmt %}     <!-- views.py에서 cmt 변수 설정-->
                    {% if c.id == c.cno %}  <!-- 댓글 출력 조건-->
                    <tr>
                        <td class="cmtusr"><h4>{{ c.member.userid }}</h4></td>

                        <td>
                            <div class="cmtbg">{{ c.regdate|date:'Y-m-d H:i:s' }}</div>
                            <p class="cmt text-just">{{ c.comments }}</p>
                        </td>
                    </tr>   <!-- 댓글 -->

                    {% elif c.id != c.cno %}       <!-- 답글 출력 조건 -->
                    <tr>
                        <td></td>
                        <td>
                            <ul class="rply list-unstyled">
                                <li>
                                    <div class="rplybg">
                                        <span><b>{{ c.member.userid }}</b></span>
                                        <span>{{ c.regdate }}</span>
                                    </div>
                                    <p class="cmt">{{ c.comments }}</p>
                                </li>
                            </ul>
                        </td>
                    </tr>   <!-- 답글/대댓글 -->
                    {% endif %}

                    {% endfor %}

                </table>
            </div>
            <div class="col"></div>
        </div><!-- 댓글 -->

        <div class="row mt-4 mb-5">
            <div class="col"></div>
            <div class="col-9 card card-body bg-light ">

                <form name="cmtfrm" id="cmtfrm" method="post">

                    {% csrf_token %}

                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <label class="w-25 text-center">
                            {% if not request.session.userinfo %}로그인하세요
                            {% else %}{{ lgnusr }}   <!-- views.py에서 lgnusr 변수 설정-->
                            {% endif %}

                        </label>

                        <textarea rows="7" class="form-control" name="comments"></textarea>

                        <!-- 로그인을 안했을 경우 버튼 작동X -->
                        <button type="button" class="btn btn-dark w-25 ms-3" id="cmtbtn"
                                {% if not request.session.userinfo %}disabled{% endif %}>
                            <i class="bi bi-reply-all"></i> 댓글쓰기</button>
                    </div>

                    <input type="hidden" name="userid" value="{{ lgnusr }}">
                    <input type="hidden" name="bno" value="{{ request.GET.bno }}">

                </form>

            </div>
            <div class="col"></div>
        </div><!-- 댓글쓰기 -->

    </div> <!-- // main -->
{% endblock %}

{% block script %}
<script>
    const cmtbtn = document.querySelector('#cmtbtn');
    const frm = document.cmtfrm;

    cmtbtn?.addEventListener('click', ()=>{
        if (frm.comments.value =='') alert('댓글쓰셈');
        else {
            frm.action = '{% url 'bcmnt' %}';
            frm.submit();
        }
    })
</script>
{% endblock %}
